<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huibai.eomp.mapper.AnnouncementsMapper">

    <select id="selectAuthorizedAnnouncements" resultType="com.huibai.eomp.entity.Announcements">
        SELECT a.* FROM announcements a
        WHERE a.is_deleted = 0
        AND (
        a.scope = 'all'
        OR a.scope = 'company'

        OR (a.scope = 'department' AND a.department_id IS NULL)

        <if test="deptId != null">
            OR (a.scope = 'department' AND a.department_id = #{deptId})
        </if>
        )
        ORDER BY a.created_at DESC
    </select>

</mapper>